.console{
    -fx-control-inner-background: #262a35;
    -fx-text-fill: #b1b0ae;
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-width: 0;
}

.tableView{
    -fx-border-width: 0;
}

.tableView:focused{
    -fx-background-color: transparent, white, transparent, white;
}

.tableView .column-header{
    -fx-background-color: white;
}

.tableView .column-header .label{
   -fx-text-fill: #a2a2a2;
}

.table-row-cell:selected {
    -fx-background-color: #eaedfc;
}

.table-row-cell:selected .text {
    -fx-fill: black;
}

